---
import HeaderLogo from './Header.svg';
import FlashlightIcon from './Flashlight.svg';
import Rays from './Rays.svg';
---

<header class="relative col-span-12 pt-[60px] px-[10px]">
  <div class="flex flex-col gap-[10px]">
    <HeaderLogo />
    <div class="ps-[9px] pb-[20px] w-[510px]">
      Сообщество и образовательная среда нового поколения для специалистов диджитал-рынка
    </div>
  </div>
  <div class="absolute right-[41px] top-[34px]">
    <FlashlightIcon />
    <Rays class="absolute right-[59px] top-[68px]" />
  </div>
</header>
