---
import HeaderLogo from './Header.svg';
import FlashlightIcon from './Flashlight.svg';
import Rays from './Rays.svg';
---

<header class="flex min-w-[1200px] justify-center">
  <div class="relative w-[1200px] shrink-0 px-[10px] pt-[60px]">
    <div id="header-logo" class="flex flex-col gap-[10px]">
      <HeaderLogo />
      <div class="w-[510px] pb-[20px]">
        Сообщество и образовательная среда нового поколения для специалистов диджитал-рынка
      </div>
    </div>
    <div class="absolute top-[34px] right-[41px]">
      <FlashlightIcon />
      <Rays id="header-rays" class="absolute top-[68px] right-[59px]" />
    </div>
  </div>
</header>

<script>
  import { gsap } from 'gsap';

  const logo = document.querySelector('#header-logo');
  const rays = document.querySelector('#header-rays');

  const tl = gsap.timeline();
  tl.fromTo(logo, { autoAlpha: 0, x: -50 }, { duration: 0.5, autoAlpha: 1, x: 0 }).fromTo(
    rays,
    {
      autoAlpha: 0,
      duration: 0.5,
      delay: 100,
      ease: 'bounce.out',
    },
    {
      autoAlpha: 1,
    },
  );
</script>
