.stripes-left {
    background: linear-gradient(to left, #E6F771 0%, transparent 50%, #E6F771 100%);
    background-position: left;
    background-size: 200% 100%;
    background-repeat: repeat-x;
    mask-image: url('./Stripes.svg');
    mask-repeat: no-repeat;
    mask-position: left center;
    mask-size: 200% 100%;
    animation: stripesLeftAnimate 1s linear infinite;
}

@keyframes stripesLeftAnimate {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 200%;
    }


}.stripes-right {
    background: linear-gradient(to right, transparent 0%, #E6F771 50%, transparent 100%);
    background-position: right;
    background-size: 200% 100%;
    background-repeat: repeat-x;
    mask-image: url('./Stripes.svg');
    mask-repeat: no-repeat;
    mask-position: right center;
    mask-size: 200% 100%;
    animation: stripesRightAnimate 1s linear infinite;
}

@keyframes stripesRightAnimate {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -200%;
    }
}