---
import GooeySplit from './GooeySplit.svg'
import Glow from './Glow.svg'
import Arrow from './Arrow.svg'
---


<section class="grid grid-cols-12 col-span-12">
  <div class="relative col-span-4 flex items-center bg-[#CC3355] rounded-[30px] px-[40px] mr-[10px] text-[#FDEAC3] h-[120px]">
    Хотите зарабатывать больше на фрилансе или запустить своё агентство?
    <div class="text-[#CC3355] absolute left-[100%] top-0">
      <GooeySplit/>
    </div>
  </div>
  <div class="relative col-span-8 flex flex-col bg-[#CC3355] rounded-[30px] gap-[20px] px-[40px] py-[40px] text-[#FDEAC3] h-[393px]">
    <div class="absolute top-[-160px] right-[-30px] w-full z-[-1]">
      <Glow class="w-full"/>
    </div>

    <div class="font-[Unbounded] font-bold text-[84px] leading-[1.2] tracking-[3%]">Мы покажем,<br/>с чего <span class="inline-block relative top-[12px]"><Arrow/></span> начать!</div>
    <div class="w-[545px]">
      Пройдите бесплатное обучение и получите пошаговый план: от первого клиента до стабильного дохода
    </div>

    <div class="absolute text-[#ECA9B8] right-[49px] bottom-[4px] h-[150px] flex items-center">
      Старт: 16 июня
    </div>
  </div>
</section>