@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Geologica", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}