@import "tailwindcss";

body {
    font-family: "Geologica", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.manga-lines {
    --center-x: 50%;
    --center-y: 50%;
    --size-x: 5%;
    --size-y: 5%;
    --speed: 5s;
    /*******/
    --start-color: #E6F771;
    --end-color: transparent;
    position: relative;
    mask-image: radial-gradient(circle at 50% 50%, transparent 40%, white 100%);

    &::before {
        --x: 1.1;
        --y: 1.1;
        --space: 10deg;
        --from: 2deg;
        --width: 0.7deg;
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:
                repeating-conic-gradient(from calc(var(--from) * 1.75 * var(--x)) at var(--center-x) var(--center-y), var(--start-color) 0 var(--width), var(--end-color) 0 var(--space)),
                repeating-conic-gradient(from var(--from) at var(--center-x) var(--center-y), var(--start-color) 0 calc(var(--width) * var(--x)), var(--end-color) 0 calc(var(--space) * var(--y) * 2.5))
    ;

        mask: radial-gradient(calc(var(--size-x) * var(--x)) calc(var(--size-y) * var(--y)) at var(--center-x) var(--center-y), #f000 99%, #000);
        animation: moveAfter var(--speed) -0.33s infinite;
    }

    &::after {
        --x: 1.1;
        --y: 1.1;
        --space: 10deg;
        --from: 2deg;
        --width: 0.7deg;
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:
                repeating-conic-gradient(from var(--from) at var(--center-x) var(--center-y), var(--start-color) 0 var(--width), var(--end-color) 0 var(--space))
    ;
        mask: radial-gradient(calc(var(--size-x) * var(--x)) calc(var(--size-y) * var(--y)) at var(--center-x) var(--center-y), #f000 99%, #000);
        animation: moveAfter calc(var(--speed) * var(--x)) steps(10, start) infinite;
    }
}

@keyframes moveAfter {
    0% { --x: 1.1; --y: 1.1; --from:  5deg; --width: 0.7deg; --space: 10deg) }
    10% { --x: 1.2; --y: 1.3; --from:  2deg; --width: 0.8deg; --space: 11deg) }
    20% { --x: 1.0; --y: 1.1; --from:  4deg; --width: 0.6deg; --space: 13deg) }
    30% { --x: 1.1; --y: 1.2; --from:  2deg; --width: 0.3deg; --space: 10deg) }
    40% { --x: 0.9; --y: 1.0; --from: -1deg; --width: 0.9deg; --space: 13deg) }
    50% { --x: 1.1; --y: 1.0; --from:  2deg; --width: 1.0deg; --space: 11deg) }
    60% { --x: 1.2; --y: 0.9; --from:  3deg; --width: 0.7deg; --space: 10deg) }
    70% { --x: 1.1; --y: 1.0; --from: -2deg; --width: 0.8deg; --space:  9deg) }
    80% { --x: 1.1; --y: 0.9; --from:  5deg; --width: 0.5deg; --space: 10deg) }
    90% { --x: 1.0; --y: 1.0; --from:  9deg; --width: 0.6deg; --space: 11deg) }
    100% { --x: 0.9; --y: 1.1; --from:  7deg; --width: 0.7deg; --space: 10deg) }
}

@media (prefers-reduced-motion) {
    .manga-lines::before,
    .manga-lines::after {
        animation-play-state: paused;
    }
}