---
import ScrollLine from './ScrollLine.astro';
---

<div class="col-span-12">
  <section class="relative bg-[#F2F1F3] -top-px h-[400px] text-[#17293B] rounded-b-[30px]"></section>
  <ScrollLine />
</div>
