---
import ScrollLine from './ScrollLine.astro';
---

<div id="block-2" class="col-span-12">
  <section class="relative -top-px h-[400px] rounded-b-[30px] bg-[#F2F1F3] text-[#17293B]"></section>
  <ScrollLine />
</div>
