---
const { class: className } = Astro.props;
---

<div class:list={['sticky top-[20px] flex h-fit w-[800px] flex-col gap-[80px] rounded-[30px] p-[50px]', className]}>
  <div class="font-[Unbounded] text-[84px] leading-[1.2] font-bold tracking-[3%]"><slot name="title" /></div>
  <div class="font-[Unbounded] text-[30px] leading-[44px] font-bold"><slot name="description" /></div>
</div>
