---
import './ScrollBlock.css';
import Arrow from './Arrow.svg';
---

<section class="relative top-[-400px] h-[150vh] flex flex-col items-center">
  <div
    class="sticky flex flex-col gap-[80px] h-fit top-[20px] w-[800px] bg-[#CC3355] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[84px] leading-[1.2] tracking-[3%]">
      Почему выбирают нас <Arrow class="inline-block" />
    </div>
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">
      Учим тому, что работает <br />на практике
    </div>
  </div>
  <div
    class="red-block sticky flex flex-col mt-[456px] gap-[80px] h-fit top-[526px] w-[800px] bg-[#CC3355] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">
      Создаем сообщество, обеспечиваем вас полезным знакомствами
    </div>
  </div>
  <div
    class="red-block sticky flex flex-col mt-[400px] gap-[80px] h-fit top-[676px] w-[800px] bg-[#CC3355] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">
      Делимся эксклюзивными шаблонами и материалами
    </div>
  </div>
</section>
<section class="relative h-[175vh] flex flex-col items-center">
  <div
    class="sticky flex flex-col gap-[80px] h-fit top-[20px] w-[800px] bg-[#318ABA] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[84px] leading-[1.2] tracking-[3%]">
      Мы покажем, как <Arrow class="inline-block" />
    </div>
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">Находить первых клиентов</div>
  </div>
  <div
    class="blue-block sticky flex flex-col mt-[456px] gap-[80px] h-fit top-[490px] w-[800px] bg-[#318ABA] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">Управлять командой и вести проекты</div>
  </div>
  <div
    class="blue-block sticky flex flex-col mt-[400px] gap-[80px] h-fit top-[560px] w-[800px] bg-[#318ABA] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">
      Зарабатывать на фрилансе и строить собственное агентство
    </div>
  </div>
</section>
