---
import Arrow from './Arrow.svg';
---

<section class="flex justify-center relative top-[-400px] h-[1000px]">
  <div
    class="sticky flex flex-col gap-[80px] h-fit top-[20px] w-[800px] bg-[#CC3355] text-[#FDEAC3] p-[50px] rounded-[30px]"
  >
    <div class="font-[Unbounded] font-bold text-[84px] leading-[1.2] tracking-[3%]">
      Почему выбирают нас <Arrow class="inline-block" />
    </div>
    <div class="font-[Unbounded] font-bold text-[30px] leading-[44px]">
      Учим тому, что работает <br />на практике
    </div>
  </div>
</section>
