---
import './ScrollBlock.css';
import Arrow from './Arrow.svg';
import SecondaryScrollBlock from './SecondaryScrollBlock.astro';
import PrimaryScrollBlock from './PrimaryScrollBlock.astro';
---

<section class="relative top-[-400px] h-[150vh] flex flex-col items-center">
  <PrimaryScrollBlock class="bg-[#CC3355] text-[#FDEAC3]">
    <Fragment slot="title">Почему выбирают нас <Arrow class="inline-block" /></Fragment>
    <Fragment slot="description">Учим тому, что работает <br />на практике</Fragment>
  </PrimaryScrollBlock>
  <SecondaryScrollBlock class="red-block mt-[25vh] top-[400px] bg-[#CC3355] text-[#FDEAC3]">
    Создаем сообщество, обеспечиваем вас полезным знакомствами
  </SecondaryScrollBlock>
  <SecondaryScrollBlock class="red-block mt-[25vh] top-[400px] bg-[#CC3355] text-[#FDEAC3]">
    Делимся эксклюзивными шаблонами и материалами
  </SecondaryScrollBlock>
</section>
<section class="relative h-[150vh] flex flex-col items-center">
  <PrimaryScrollBlock class="bg-[#318ABA] text-[#FDEAC3]">
    <Fragment slot="title">Мы покажем, как <Arrow class="inline-block" /></Fragment>
    <Fragment slot="description">Находить первых клиентов</Fragment>
  </PrimaryScrollBlock>
  <SecondaryScrollBlock class="blue-block mt-[25vh] top-[400px] bg-[#318ABA] text-[#FDEAC3]">
    Управлять командой и вести проекты
  </SecondaryScrollBlock>
  <SecondaryScrollBlock class="blue-block mt-[25vh] top-[400px] bg-[#318ABA] text-[#FDEAC3]">
    Зарабатывать на фрилансе и строить собственное агентство
  </SecondaryScrollBlock>
</section>
