---
import './ScrollBlock.css';
import Lightning from './Lightning.svg';
import Flame from './Flame.svg';
import SecondaryScrollBlock from './SecondaryScrollBlock.astro';
import PrimaryScrollBlock from './PrimaryScrollBlock.astro';
---

<section class="relative top-[-400px] flex flex-col items-center">
  <PrimaryScrollBlock class="bg-[#CC3355] text-[#FDEAC3]">
    <Fragment slot="title">Почему<br />с нами<br />лучше <Flame class="relative top-[-15px] inline-block" /></Fragment>
    <Fragment slot="description">учим тому, что реально работает</Fragment>
  </PrimaryScrollBlock>
  <SecondaryScrollBlock class="red-block top-[400px] mt-[25vh] bg-[#CC3355] text-[#FDEAC3]">
    знакомим с экспертами<br />и создаём сообщество единомышленников
  </SecondaryScrollBlock>
  <SecondaryScrollBlock class="red-block top-[400px] mt-[25vh] bg-[#CC3355] text-[#FDEAC3]">
    делимся эксклюзивными шаблонами и материалами
  </SecondaryScrollBlock>
</section>
<section class="relative flex flex-col items-center">
  <PrimaryScrollBlock class="bg-[#318ABA] text-[#FDEAC3]">
    <Fragment slot="title">Мы покажем, как <Lightning class="relative top-[-15px] inline-block" /></Fragment>
    <Fragment slot="description">найти первых клиентов и работать с ними годами</Fragment>
  </PrimaryScrollBlock>
  <SecondaryScrollBlock class="blue-block top-[400px] mt-[25vh] bg-[#318ABA] text-[#FDEAC3]">
    управлять командой и вести проекты
  </SecondaryScrollBlock>
  <SecondaryScrollBlock class="blue-block top-[400px] mt-[25vh] bg-[#318ABA] text-[#FDEAC3]">
    построить собственное агентство
  </SecondaryScrollBlock>
</section>
