---
const { class: className } = Astro.props;
---

<div class:list={['sticky flex h-[309px] w-[800px] shrink-0 flex-col gap-[80px] rounded-[30px] p-[50px]', className]}>
  <div class="font-[Unbounded] text-[30px] leading-[44px] font-bold"><slot /></div>
</div>
