---
import Details from './Details.astro';
---

<section class="col-span-12 m-[10px] flex justify-center gap-[20px] pt-[80px]">
  <div class="flex w-[460px] flex-col gap-[20px]">
    <Details title="Сколько времени займёт обучение?" open name="q">
      Обучение рассчитано на 4 недели: с 16 июня по 14 июля. Окончание учёбы и прохождение экзамена отметим выпускным в
      Санкт-Петербурге.
    </Details>
    <Details title="Нужны ли какой-то опыт или подготовка для участия?" name="q">
      Хватит начальных знаний и навыков в области диджитал-рекламы. Главное — ваше желание учиться и наличие свободного
      времени.
    </Details>
  </div>
  <div class="flex w-[460px] flex-col gap-[20px]">
    <Details title="А если я смогу присутствовать только онлайн?" name="q">
      Ничего страшного. Мы сделали курс полезным для всех участников. Кроме онлайн-лекций и мастер-классов, в канале
      «Лучше с eLama» мы будем делиться шаблонами и другими полезными штуками, а менторы — рассказывать о своём опыте.
    </Details>
    <Details title="Выдаётся ли в конце диплом?" name="q">
      Да, в конце обучения вы получите сертификат о его прохождении. Но самое важное — опыт и полезные знакомства. Даже
      когда обучение завершится, вы останетесь в чате нашего сообщества диджитал-специалистов. А значит, всегда сможете
      попросить совет, найти ментора или сотрудника или скачать нужный шаблон.
    </Details>
  </div>
</section>
