---
import Layout from '../layouts/Layout.astro';
import Header from './components/Header/Header.astro';
import Hero from './components/Hero/Hero.astro';
import Block1 from './components/Block1/Block1.astro';
import Block2 from './components/Block2/Block2.astro';
import Block3 from './components/Block3/Block3.astro';
---

<Layout>
  <Header />
  <Hero />
  <Block1 />
  <Block2 />
  <Block3 />

  <div class="h-[3000px]"></div>
</Layout>
