---
import Layout from '../layouts/Layout.astro';
import Header from './components/Header/Header.astro';
import Hero from './components/Hero/Hero.astro';
import Block1 from './components/Block1/Block1.astro';
import Block2 from './components/Block2/Block2.astro';
import Block3 from './components/Block3/Block3.astro';
import Registration from './components/Registration/Registration.astro';
import QnA from './components/QnA/QnA.astro';
---

<Layout>
  <Header />
  <Hero since="16 июня" />
  <Block1 />
  <Block2 />
  <Block3 />
  <Registration />
  <QnA />

  <div class="h-[3000px]"></div>
</Layout>
