---
import ScrollBlock from './ScrollBlock.astro';
import Description from './Description.astro';
---

<section
  class="col-span-12 flex gap-[80px] bg-[#F2F1F3] px-[10px] mt-[20px] h-[200vh] pt-[20px] pb-[60px] text-[#17293B] rounded-t-[30px]"
>
  <ScrollBlock />
  <Description />
</section>
