---
import ScrollBlock from './ScrollBlock.astro';
import Description from './Description.astro';
---

<section class="col-span-12 flex gap-[80px] bg-[#FBF3E3] px-[10px] mt-[20px] py-[20px] text-[#17293B] rounded-[30px]">
  <ScrollBlock />
  <Description />
</section>
