---

---

<div class="pt-[60px] flex flex-col gap-[20px]">
  <div class="font-[Unbounded] font-bold text-[84px] leading-[96px] tracking-[3%]">
    <span class="text-[#17293B]"> Это гибридная академия, </span>
    <br />
    <span class="text-[#17293B4D]">
      а не<br />очередной онлайн-курс
    </span>
  </div>
  <div class="flex flex-col gap-[20px] p-[60px] rounded-[30px] border border-[#B7B6B1] mr-[41px]">
    <div class="font-[Unbounded] font-bold text-[30px] leading-none">Здесь вы получаете</div>
    <div class="flex gap-[78px]">
      <div class="flex flex-col gap-[10px]">
        <div class="font-bold">1.</div>
        <div>Реальную<br />практику</div>
      </div>
      <div class="flex flex-col gap-[10px]">
        <div class="font-bold">2.</div>
        <div>Прямой доступ к опыту ведущих агентств страны</div>
      </div>
      <div class="flex flex-col gap-[10px]">
        <div class="font-bold">1.</div>
        <div>Живое общение <br />с&nbsp;профессионалами</div>
      </div>
    </div>
  </div>
</div>
