---

---

<div class="pt-[60px]">
  <div class="font-[Unbounded] font-bold text-[84px] leading-[96px] tracking-[3%]">
  <span class="text-[#17293B]">
    Это гибридная академия,
  </span>
    <br>
    <span class="text-[#17293B4D]">
    а не<br/>очередной онлайн-курс
  </span>
  </div>
</div>