---
import ScrollLabels from './ScrollLabels.svg';
---

<div
  class="sticky top-[75px] flex items-center w-[749px] h-[536px] rounded-[30px] px-[60px] bg-[#17293B] text-[#FDEAC3] shrink-0"
>
  <span class="font-[Unbounded] font-bold text-[30px] leading-[44px]">
    Многие начинающие специалисты<br />опасаются первых<br />шагов
  </span>
  <div class="absolute h-fit right-[50px] top-0 bottom-0 m-auto">
    <ScrollLabels />
  </div>
</div>
