---
import ScrollLabels from './ScrollLabels.svg';
---

<div
  class="sticky top-[75px] flex h-[536px] w-[749px] shrink-0 items-center rounded-[30px] bg-[#17293B] px-[60px] text-[#FDEAC3]"
>
  <span class="font-[Unbounded] text-[30px] leading-[44px] font-bold">
    Многие начинающие специалисты<br />опасаются первых<br />шагов
  </span>
  <div class="absolute top-0 right-[50px] bottom-0 m-auto h-fit">
    <ScrollLabels />
  </div>
</div>
<div class="absolute top-[100vh] left-0 h-2 w-2"></div>
