---
import Button from '../Button/Button.astro';
import Guide from './Guide.astro';
---

<section class="relative col-span-12 pt-[120px]">
  <div class="absolute top-[80px] right-0 left-0 mx-auto w-fit">
    <Button>Начать обучение</Button>
  </div>
  <section
    class="flex w-full flex-col gap-[10px] rounded-[30px] bg-[#F2F1F3] px-[10px] pt-[63px] pb-[70px] text-[#384C61]"
  >
    <section class="mb-[120px] flex shrink-0 justify-center">
      <Guide />
    </section>
    <section class="flex flex-col items-center pt-[40px]">
      <div class="flex w-[1200px] flex-col gap-[10px]">
        <div class="font-[Unbounded] text-[84px] leading-[96px] font-bold tracking-[3%]">
          Менторы всегда будут с вами на&nbsp;связи
        </div>
        <div class="font-[Unbounded] text-[30px] leading-[44px] font-bold">
          лидеры и топ-специалисты агентств будут делиться опытом, отвечать на вопросы и поддерживать на&nbsp;каждом
          этапе
        </div>
      </div>
    </section>
  </section>
</section>
