---
import Button from '../Button/Button.astro';
---

<section class="relative col-span-12 pt-[80px]">
  <div class="absolute w-fit top-[40px] left-0 right-0 mx-auto">
    <Button>Начать обучение</Button>
  </div>
  <section class="w-full bg-[#FBF3E3] text-[#17293B] rounded-[30px] px-[10px] pt-[63px]">test</section>
</section>
