---
import TabButton from './TabButton.astro';
import OnlineBadge from './OnlineBadge.astro';
import Graduation from './Graduation.svg';
---

<section class="relative flex shrink-0 gap-[60px]">
  <section class="flex h-full w-[511px] flex-col gap-[20px] rounded-[30px] border border-[#B7B6B1] p-[60px] pr-[48px]">
    <div class="font-[Unbounded] text-[30px] leading-none font-bold">Что в программе</div>
    <TabButton id="open" title="Как открыть своё агентство" initial />
    <TabButton id="clients" title="Как позиционировать себя и находить клиентов" />
    <TabButton id="team" title="Как управлять командой и находить сотрудников" />
    <TabButton id="service" title="Как работать с клиентами" />
    <TabButton id="graduation" title="Экзамен и выпускной"><Graduation slot="icon" /></TabButton>
  </section>
  <div class="absolute top-[40px] bottom-[40px] left-[510px] w-[3px] bg-[#FBF3E3]"></div>
  <div class="w-[700px] pt-[100px]">
    <section data-tabblock="" class="w-[500px]">
      <div data-tabcontent="" data-active="true" data-id="open" class="hidden data-[active=true]:block">
        <div class="flex flex-col gap-[30px]">
          <div>
            <OnlineBadge online />
            <div>Особенности агентского бизнеса. Чем занимается и как зарабатывает агентство</div>
          </div>
          <div>
            <OnlineBadge online />
            <div>Юридические основы. Как зарегистрироваться, оформить договоры и платить налоги</div>
          </div>
          <div>
            <OnlineBadge online />
            <div>Как правильно рассчитать юнит-экономику агентства</div>
          </div>
          <div>
            <OnlineBadge />
            <div class="font-bold">День открытых дверей и экскурсия по офису ведущего агентства</div>
          </div>
        </div>
      </div>
      <div data-tabcontent="" data-active="false" data-id="clients" class="hidden data-[active=true]:block">
        <div class="flex flex-col gap-[30px]">
          <div>
            <OnlineBadge online />
            <div>Как продавать свои услуги и искать клиентов</div>
          </div>
          <div>
            <OnlineBadge online />
            <div>Мастер-класс. Как выбрать специализацию и разработать уникальное торговое предложение</div>
          </div>
          <div>
            <OnlineBadge />
            <div class="font-bold">
              Мастер-класс в офисе ментора. Как готовить коммерческое предложение и работать с лидами
            </div>
          </div>
        </div>
      </div>
      <div data-tabcontent="" data-active="false" data-id="team" class="hidden data-[active=true]:block">
        <div class="flex flex-col gap-[30px]">
          <div>
            <OnlineBadge online />
            <div>Как находить экспертов и мотивировать их</div>
          </div>
          <div>
            <OnlineBadge online />
            <div>Мастер-класс. Как читать резюме и создавать тестовые задания</div>
          </div>
          <div>
            <OnlineBadge />
            <div class="font-bold">Мастер-класс в офисе ментора. Как работать с командой и в команде</div>
          </div>
        </div>
      </div>
      <div data-tabcontent="" data-active="false" data-id="service" class="hidden data-[active=true]:block">
        <div class="flex flex-col gap-[30px]">
          <div>
            <OnlineBadge online />
            <div>Как вести клиентов годы, а не месяцы</div>
          </div>
          <div>
            <OnlineBadge />
            <div class="font-bold">Мастер-класс в офисе eLama. Как построить взаимодействие команды с клиентами</div>
          </div>
          <div>
            <OnlineBadge online />
            <div>Как повышать средний чек и лояльность клиентов</div>
          </div>
          <div>
            <OnlineBadge online />
            <div>Как агентству зарабатывать: из чего складывается маржа и цена</div>
          </div>
        </div>
      </div>
      <div data-tabcontent="" data-active="false" data-id="graduation" class="hidden data-[active=true]:block">
        <div class="flex flex-col gap-[30px]">
          <div>
            <OnlineBadge online />
            <div>Экзамен для проверки знаний</div>
          </div>
          <div>
            <OnlineBadge />
            <div class="font-bold">Выпускной и вручение сертификатов</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<script>
  import autoAnimate from '@formkit/auto-animate';

  const buttons = document.querySelectorAll('[data-tab=""]') as NodeListOf<HTMLElement>;
  const content = document.querySelectorAll('[data-tabcontent=""]') as NodeListOf<HTMLElement>;
  const block = document.querySelector('[data-tabblock=""]');

  buttons.forEach((b) => {
    b.addEventListener('click', (event) => {
      const selectedButton = event.currentTarget as HTMLElement | null;
      if (!selectedButton) return;

      selectedButton.dataset.active = 'true';
      buttons.forEach((button) => {
        if (selectedButton === button) {
          return;
        }
        button.dataset.active = 'false';
      });

      const id = selectedButton.dataset.id;
      content.forEach((content) => {
        content.dataset.active = content.dataset.id === id ? 'true' : 'false';
      });
    });
  });

  if (block) {
    autoAnimate(block);
  }
  console.log(buttons);
</script>
