---
const { online } = Astro.props;
---

<div
  class:list={[
    'w-fit rounded-[6px] px-[8px] py-[5px] text-[13px] leading-none font-medium text-[#FDEAC3]',
    online ? 'bg-[#318ABA]' : 'bg-[#CC3355]',
  ]}
>
  {online ? 'онлайн' : 'оффлайн'}
</div>
