---
const { online } = Astro.props;
---

<div
  class:list={[
    'w-fit rounded-[6px] py-[5px] px-[8px] font-medium text-[13px] leading-none text-[#FDEAC3]',
    online ? 'bg-[#318ABA]' : 'bg-[#CC3355]',
  ]}
>
  {online ? 'онлайн' : 'оффлайн'}
</div>
