---
const { id, title, active } = Astro.props;
---

<button
  data-tab=""
  data-active={active ? 'true' : 'false'}
  data-id={id}
  class="flex w-full appearance-none items-center justify-between rounded-[10px] bg-white p-[20px] text-left transition-colors data-[active=true]:bg-[#FDEAC3]"
>
  <span class="max-w-[300px] text-[18px] leading-[26px] font-medium">{title}</span>
  <slot name="icon" />
</button>
