---
const { id, title, active } = Astro.props;
---

<button
  data-tab=""
  data-active={active ? 'true' : 'false'}
  data-id={id}
  class="flex items-center justify-between appearance-none text-left p-[20px] w-full bg-white data-[active=true]:bg-[#FDEAC3] rounded-[10px] transition-colors"
>
  <span class="max-w-[300px] font-medium text-[18px] leading-[26px]">{title}</span>
  <slot name="icon" />
</button>
