---
import './Button.css';

const { onClick } = Astro.props;
---

<div class="relative z-[1] w-fit">
  <button class="button h-[68px] px-[64px] whitespace-nowrap text-black" onclick={onClick}>
    <slot />
  </button>
  <div class="button-first-layer"></div>
  <div class="button-second-layer"></div>
</div>
